$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.col-xs-4 {
  border: 1px solid black;
  height: 100px;
  font-size: 50px;
  text-align: center;
}

h1 {
  text-align: center;
}

.container-grid {
  margin: 0 20%;
  text-align: center;
}

.reset-board-button {
  margin-bottom: 20px;
}

.btn-primary {
  box-shadow: 0 6px #617aa3;
}

.btn-primary:active {
  box-shadow: 0 2px #617aa3;
  transform: translateY(3px);
}

.btn-primary:focus {
  outline: 0;
}

.account-modal-btn {
  margin: 50px;
}
